//Media Queries - bp stands for break point
//====================================================
@mixin bp-xt-large {
  @media all and (max-width: 2000px) and (min-width: 1385px) {
    @content;
  }
}
/* For laptops and large screen */
@mixin bp-large {
  @media only screen and (min-width:992px) {
    @content;
  }
}
/////////////////////////
/* Just for laptops */
@mixin bp-desktop {
  @media all and (max-width: 1600px) and (min-width: 1200px) {
    @content;
  }
}
/* For small and large mobiles */
@mixin bp-small {
  @media all and (max-width: 767px) {
    @content;
  }
}
/* For tablets */
@mixin bp-medium {
  @media all and (max-width: 1120px) and (min-width: 768px) {
    @content;
  }
}
@mixin bp-xtsmall {
  @media all and (max-width: 480px) {
    @content;
  }
}
@mixin bp-iphone-six {
  @media all and (max-width: 376px) and (min-width: 375px) {
    @content;
  }
}


///////////////NEW////////////////

////Laptop////

@mixin bp-lar {
  @media all and (min-width: 1080px){
    @content;
  }
}

@mixin bp-med {
  @media all and (max-width: 1080px) and (min-device-width: 768px){
    @content;
  }
}

@mixin bp-sma {
  @media all and (max-width: 768px){
    @content;
  }
}