//Styles use throughout the hole site
//=========================================================
html,
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  color:$main-font;
  background: $main-body-bg;
  font-family: 'Roboto Condensed', sans-serif;
}

p{
  @include vertical-align(2%);
  line-height: em(24);
  color:darken($paragraph-font,10%);
  &:after {
    content: "";
    width: 100%;
  }
  @include bp-xtsmall{
    @include vertical-align(0);
    line-height: em(24);
  }
  @include bp-xt-large{
    font-size: $main-size-base*1.1;
    @include vertical-align(5%);
  }
  @include bp-desktop{
    font-size: $main-size-base; 
  }
}
/* All images should be responsive */
img {
  max-width: 100%;
}
hr{
  margin-bottom: em(5);
  border-color:$hr-divider-color;
  @include bp-xtsmall{
    margin-bottom: em(18);
    margin-top: 0;
  }
}
/*
Forms
============================================= */
.form-control {
  @extend %no-border-radius;
  display: block;
  width: 100%;
  height: em(38);
  padding: em(8) em(14);
  font-size: em(16);
  line-height: 1.42857143;
  color: $main-font;
  border: 1px solid $fourth-gray;
  background-image: none;
  &:focus{
    border-color:  darken($fourth-gray,25%);
    -webkit-box-shadow:none ;
    box-shadow:none;
  }
}
.course-number{
  background: $tertiary-blue;
  padding:em(4);
}
/*Panel*/
.panel{
  border:0;
  @extend %dark-shadow-boxes;
}
/*Character*/
.img-character{
  background: $white;
  border:solid 1px $secondary-gray;  
  @extend %dark-shadow-boxes;
}
.fa{
  &:hover{
    text-decoration: none;
  }
}
///
.capitalize::first-letter {
  text-transform: uppercase;
}

