$browser-context: 16; // Default

@function em($pixels,$context:$browser-context){
  @return #{$pixels/$context}em
}

@function calc-percent($target, $container) {
  @return ($target / $container) * 100%;
}


@each $button-anwser-color in(
  check #009900,
  two black + 20,
  three black + 40,
  four black + 60
){
  .#{nth($button-anwser-color,1)}{
    background-color:#{nth($button-anwser-color,2)};
    border:solid 3px #{nth($button-anwser-color,2)};
     &:hover {
       background-color:#{nth($button-anwser-color,2)};
       border:solid 3px #{nth($button-anwser-color,2)};
    }
  }
}
@mixin font-color($bg-color){
  background-color:($bg-color);
  @if $bg-color == $secondary-brand{
    color:$nav-links;
    a{
      color:$nav-links;
      &:hover{
        color:$nav-links;
      }
    }
  }
  @else if $bg-color == $main-header-bg{
    color:$tertiary-gray;
    a{
      color:$tertiary-gray;
    }
  }
}