@mixin button-color($background-color) {
  background-color:$background-color;
  border:solid 1px darken($background-color,10%);
  &:hover{
    background-color:darken($background-color,10%);
  }
  &:focus {
    outline: thin solid darken($background-color,10%);
    outline-offset: -2px;
    background:$background-color;
  }
}

@mixin vertical-align($percentge) {
   position: relative;
   top: $percentge;
   -webkit-transform: translateY($percentge);
   -ms-transform: translateY($percentge);
   transform: translateY( $percentge);
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin transition($transition){
   -webkit-transition: all $transition;
   -moz-transition: all $transition;
    -ms-transition: all $transition;
     -o-transition: all $transition;
        transition: all $transition;
}