//Placeholder to avoid repetitions and better performance
//=========================================================
%background-transparent{
  background-color:transparent;
  border-color:transparent;
}

%menu-navigator-li{
  display: block;
  white-space: nowrap;
  margin: 0;
  line-height: em(22);
  &:after{
    clear: both;
  }
  &:before,&:after{
    display: table;
    content: " ";
  }
}

//Radius
//=========================================================
%circle-radius{
  @include border-top-radius(50%);
  @include border-bottom-radius(50%);
  @include border-right-radius(50%);
  @include border-left-radius(50%);
}
%no-border-radius{
  @include border-top-radius(0);
  @include border-bottom-radius(0);
}
//Shadows
//=========================================================
/*Box shadows*/
%dark-shadow-boxes{
 box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25),0 2px 10px 0 rgba(0,0,0,0.12);
}
%medium-shadow-boxes{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
/*Text Shadows*/
%medium-tex-shadow{
  text-shadow: 0 0px 1px rgba(0,0,0,0.3);
}
%light-text-shadow{
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
//Question
//=========================================================
%question-colors{
  vertical-align: middle;
  background-color: $secondary-brand;
  @extend %medium-shadow-boxes;
  &:hover{
    color:darken($white,20%);
    background-color: lighten($secondary-brand,2%);
  }
}
