//Variables use use throughout the hole site
//=========================================================

/*Colors
/====================================================*/
//Blues//
$primary-blue:darken(#334564,5%); /*left side menu color*/
$secondary-blue:#60bddb;/*entrepreneur module bg*/
$tertiary-blue:#2c3e50;
//Grays//
$primary-gray:#555459;
$secondary-gray:lighten($primary-gray,61%);
$tertiary-gray:darken(#555459,5%);
$fourth-gray:lighten($primary-gray,40%);
//Greens//
$primary-green: #00c853;
$secondery-green:#dff0d8;
$tertiary-green:#2ab27b;
//The rests//
$white:#fff;
$black:#000;
$orange:#e67e22;
$gold:#b8a75c;
$red:#a94442;
$skype-color:#12A5F4;
//Brands 
$primary-brand:$primary-blue;
$secondary-brand:darken($primary-blue,7%);
//Background courses
$main-body-bg:#e0e0e0 !default;
$start-your-business:$secondary-blue;
//Headers and texts 
$frame-font:$white;
$main-font:$primary-gray;
$paragraph-font:lighten($primary-gray,8%);
//Menus and Nav 
$nav-divider:lighten($primary-brand,30%);
$main-header-bg:$white;
$nav-links:$white;
$drop-down-background-color:$white;
$drop-down-font-color:#3c3c3c;
$hr-divider-color:darken($secondary-gray,15%);
//Forms
$search-background:rgba(255, 255, 255, 0.1);
//Buttons
$brand-btn-color:darken($secondary-blue,10%);
$success-btn-color:$primary-green;
//Content
$content-holder-background-color:$white;
$headers-font-color:$primary-gray;
$right-anwser-bg:lighten($primary-green,30%);
$question-title-color:$white;
$sucess-icon-color:$primary-green;
$fail-color:$red;
$quesiton-footer-color:$orange;

/*Fonts sizes
/====================================================*/
$font-family-sans-serif: 'Roboto', sans-serif;
$main-size-base:18px !default;
/*Main headers*/
$main-h1:floor($main-size-base * 1.85);
/*Frame headers*/
$frame-h1: floor($main-size-base * 1.8);
$frame-h2: floor($frame-h1 /1.1);
$frame-h3: floor($main-size-base * 1.2);
/*Profile headers*/
$profile-h1:floor($main-size-base * 1.3);
/*Sizes
/===================================================*/
$margin-mdule-top:1.3%;
$module-height:28%;
////
$drop-down-width:em(320);
$logo-height:3.6em;
$left-column-width:220px;
$icon-width:em(28) !default;
$row-offcanvas:220px;
/*Radius
/===================================================*/
$border-radius:2px !default;

