  <section class="courses-holder" >    
    <div class="single-course-extend" >
      <div class="course">
        <h1 class="main-title no-hover">{{courseScope.course.title}}</h1>
        <figure class="course-image" >
          <img class="img-responsive no-hover" alt="{{ courseScope.course.title}}" ng-src="{{ courseScope.course.banner }}" >
        </figure><!-- Course image -->
        <div class="course-content">
          <h2 class="second-title-extend">{{ courseScope.course.heading }}</h2>
        </div><!-- Course content -->
        <hr class="title-divider"/>
        <article class="course-description course-extend">
          <div class="description-holder-extend">
            <img ng-src="{{ courseScope.course.badge}}" alt="{{ courseScope.course.heading }}" data-pin-nopin="true">
            <p>{{ courseScope.course.description}}</p>
            <p><span class="description">Number of modules:</span> {{modules.length}}</p>
          </div>
        </article><!-- Course description -->
        <div class="start-button-wrapper">
        <button ng-if="!courseScope.course.user_in_progress" type="button" class="btn btn-primary btn-lg" ng-click="courseScope.enrolCourse()"><b>Start</b></button>
        </div>
        <div class="modules-wrapper">
          <h3>Modules</h3>
          <hr class="title-divider"/>
          <div class="single-module" ng-repeat="module in courseScope.modules">
            <span class="module-number">#{{ $index + 1 }}</span>
            <span class="module-name pull-left">
              {{ module.title }}
            </span>
            <span class="module-progress">
              {{ module.progress}}%
            </span>
            <span class="module-download pull-right">
              <a ng-click='courseScope.startModule(courseScope.course.id, module.id)'><i class="fa fa-play"></i></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>