<section class="courses-holder">    
  <div class="single-course" ng-repeat="course in coursesScope.courses">
    <div class="course" ng-click="coursesScope.selectCourse(course)">
      <h1 class="main-title" >{{course.title}}</h1>
      <figure class="course-image">
        <img class="img-responsive" alt="{{ course.name}}" ng-src="{{ course.banner }}">
      </figure>
      <div class="second-title-wrapper">
        <h2 class="second-title">
        {{ course.heading }}</h2>
      </div><!-- Course content -->
      <hr class="title-divider"/>
      <article class="course-description">
        <div class="description-holder">
          <section class="text-section">
            <p>{{ course.description}} </p>
          </section>
          <div class="go-to">
            <a  ng-href="#">Go to course <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
      </article>
      <!-- Course actions -->
      <footer class="progress-wrapper">
        <hr class="full-divider"/>
        <figure class="course-progress">
          <span class="progress-bar custom-color" style="width: {{ course.progress }}%" role="progressbar" aria-valuenow="{{ course.progress }}" aria-valuemin="0" aria-valuemax="100">
          </span>
        </figure>
        <div class="progress-string">
          {{ course.progress}}%
        </div>
      </footer>
    </div>
  </div>
</section>
