// List of courses display
//======================================================================== 
/*Common styles in the page*/
.course{
  h1,h2,h3{
    text-align: center;
  }
  .course-image,.main-title,.second-title {
    cursor: pointer;
  }
}
.courses-holder{
  @include make-row(0);
  margin-bottom: 500px;
  @include bp-small{
    @include make-row();
  }
  .single-course{
    @include make-md-column(4);
    @include make-xs-column(12);
    @include bp-medium{
      @include make-sm-column(6);
    }
  }
  .course{
    background: $white;
    margin-top: 3%;
    position:relative;
    @extend %dark-shadow-boxes;
    .main-title{
      position:absolute;
      width: auto;
      font-weight: 320;
      color:$frame-font;
      font-size:floor($main-size-base * 1.35);
      background: $start-your-business;
      padding:em(12);
      left:-9px;
      @extend %dark-shadow-boxes;
      &:hover{
        background:darken($start-your-business,10%);
      }
      &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 0;
        height: 0;
        border: 4px solid darken($start-your-business,20%);
        border-bottom-color: transparent;
        border-left-color: transparent;
        z-index: 1;
        white-space: normal;
      }
      @include bp-small{
        font-size:$main-size-base;
      }
      @include bp-desktop{
        font-size:floor($main-size-base /.85);
      }
      @include bp-medium{
        font-size:floor($main-size-base/1.1);
      }
      span{
        font-weight: 500;
      }
    }
  }
}
/*Dividers*/
.course{
  hr.title-divider{
    width: 50%;
    margin-top: em(15);
  }
  hr.full-divider{
    margin-top: em(10);
    padding-bottom: 4%;
    @include bp-desktop{
      padding-bottom: 2%;
    }
  }
}
/*
Content wrapper and second title 
============================================= */
.second-title-wrapper {
  @include make-row();
  padding: em(12);
  padding-bottom: 0;
  @include bp-medium{
    padding-top:em(7);
  }
  .second-title{
    @include make-md-column(12);
    font-size: floor($main-size-base *1.4);
    text-align: center;
    margin-top: 1%;
    font-weight: 500;
    margin-bottom: 0;
    &:hover{
     color:lighten($main-font,10%);
    }
    @include bp-desktop{
      font-size: floor($main-size-base * 1.2);
    }
    @include bp-medium{
      font-size: floor($main-size-base * .95);
    }
    @include bp-small{
      font-size: floor($main-size-base *1.1);
      margin-bottom: em(8);
    }
  }
}
/*
Description
============================================= */
.course-description{
  @include make-row(0);
  height: em(172);
  @include bp-desktop{
    height: em(210);
  }
  .description-holder{
    @include make-sm-column(12);
    font-weight: 300;
    img {
      @include square(70px);
      float: right;
      @include bp-xt-large{
        @include square(80px);
        margin-top: em(13);
      }
      @include bp-desktop{
        margin-top: em(19);
        margin-right: 5px;
       }
      @include bp-medium{
        @include square(58px);
        margin-top: em(20);
        margin-right: em(13);
      }
    }
    .text-section{
      /* height: em(110);
      @include bp-desktop{
        height: em(10);
      }
      @include bp-medium{
        height: em(130);
      } */
      p{
        display: block;
      }
    }
    .description{
      font-weight: 500;
    }
  }
}
.go-to{
  padding-top:2.3%;
  font-size: $main-size-base;
  font-weight: 500;
  a{
    @include bp-xt-large{
      font-size: $main-size-base;
    }
    @include bp-medium{
      font-size: $main-size-base/1.3;
    }
  }
  .fa{
    @include bp-desktop{
      margin-top: .2%;
    }
  }
}
