// Individual course display
//======================================================================== */

/*
Back to where you were link 
============================================= */
.back-to{
  margin-top: .5%;
  margin-left: 1%;
  left:11%;
  display: block;
  position:absolute;
  z-index: 1000;
  @include bp-desktop{
    left:15.5%;
  }
  @include bp-medium{
    left:17.2%;
  }
  a{
    color:$tertiary-gray;
    font-size: $main-size-base/1.2;
    font-weight: 500;
    @include bp-small{
      font-size: $main-size-base/1.9;
    }
  }
  .fa{
    @include bp-small{
      font-size: $main-size-base/1.8;
    }
    &:after{
      content: '\00a0';
    }
  }
}
//Extending classes from the courses page
.courses-holder{
  display: flex;
  justify-content: center;
  .single-course-extend{
    @extend .single-course;
    @include make-md-column(4);
    @include bp-desktop{
      @include make-md-column(5);
    }
    @include bp-medium{
      @include make-sm-column(8);
      margin-top: 2%;
    }
    h1.main-title{
      font-weight: 500;
      @include bp-medium{
        font-size:floor($main-size-base * 1.25);
      }
    }
  }
  h2{
    @include bp-desktop{
      font-size:floor($main-size-base * 1.5);
    }
    @include bp-medium{
      font-size:floor($main-size-base * 1.4);
    }
  }
  .no-hover{
    cursor: auto;
  }
}
.courses-holder{
  .single-course-extend{
    .course-description{
      height: em(110);
      .description-holder-extend{
        @extend .description-holder;
        @include bp-medium{
          font-size:floor($main-size-base);
        }
        img{
          @include square(70px);
          float: right;
          @include bp-xt-large{
            @include square(90px);
            margin-top: em(5);
            margin-left: em(8);
          }
          @include bp-desktop{
            @include square(80px);
            margin-top: em(12);
            margin-left: em(3);
          }
          @include bp-medium{
            @include square(80px);
            margin-top: em(13);
            margin-left: em(9);
          }
        }
      }
      //Just for tablets
      .medium-holder{
        @include bp-medium{
          @include make-xs-column(9);
        }
      }
    }
  }
}
/*
Modules list
============================================= */
.modules-wrapper{
  @include make-row(0);
  margin-bottom: 5%;
  font-size: $main-size-base;
  background: $secondary-gray;
  @include bp-desktop{
    font-size: $main-size-base/1.1;
  }
  @include bp-small{
    font-size: $main-size-base/1.3;
  }
  h3{
    font-size: floor($main-h1/1.38);
    line-height: .5;
    @include bp-desktop{
      font-size: floor($main-h1/1.6);
    }
    @include bp-medium{
      font-size: floor($main-h1/1.5);
    }
    @include bp-small{
      font-size: $main-h1/1.6;
    }
  }
  a{
    color:$main-font;
    font-weight: 500;
  }
}
/*
Start button
============================================= */
.start-button-wrapper{
  @include make-row();
  text-align: center;
  margin-bottom: 2.5%;
  @include bp-medium{
    margin-bottom: 5%;
  }
  .start-module{
    @include make-md-column(12);
  }
}
/*
Module links and progress
============================================= */
.single-module{
  @include make-row(0);
  border-bottom: 1px dotted darken($hr-divider-color,20%);
  padding-bottom: em(10);
  padding-top: em(10);
  &:last-child{
    border-bottom:none;
    padding-bottom: em(15);
  }
  .module-number{
    @include make-sm-column(1);
    @include make-xs-column(1);
  }
  .module-name{
    @include make-sm-column(7.3);
    @include make-xs-column(8);
  }
  .module-progress{
    @include make-sm-column(1);
    @include make-xs-column(1);
  }
  .module-start,.module-download{
    @include make-sm-column(1);
    @include make-xs-column(1);
    @include bp-medium{
      padding-left: 0;
    }
  }
  .fa-play, .fa-repeat{
    color:$brand-btn-color;
    &:hover{
      color:lighten($brand-btn-color,10%);
    }
  }
  .fa-download,.fa-lock{
    color:$main-font;
    &:hover{
      color:lighten($main-font,10%);
    }
  }
}
