//Index nav test 2

//-----------------------HTML & BODY -----------------------//

html, body{
	height:100% !important;
	overflow: hidden;
	font-family: "Open Sans", Helvetica, Arial, sans-serif !important;

}

body{
	margin-top:50px !important;
}
//-----------------------Navbar CSS-----------------------//
.main-container{
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	padding: 0px 35px 0px 35px;
	@include bp-med{
		width:768px;
	};
	@include bp-lar{
		width:1080px;
	};
	@include bp-sma{
		width:300px;
	};
}

//needed to stop the container from moving away from the top of the page
.parent-sep{
	border: 0.1px solid transparent;
}

.font{
	font-size: 5rem;
}
nav{
	margin-bottom: 0px !important;
	background: #0076BF; 
}

.navbar {
    height: 70px !important;
}
.navbar-default {
	background-color: #0076BF !important;
}

.navbar-brand{
	color:white !important;
	font-size: 25px !important;
	padding-left: 0px !important;
	padding-bot: 2px;
}

.navbar-collapse.collapse {
  display: block!important;
}

//The right content of the navbar
.dropdown > a{
	font-weight: 800;
	font-size: 110%;
}

//-----------------------Dropdown button CSS-----------------------//

a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #3366FF;
  transition: 0.4s;
}

.dropdown-toggle{
	height: 70px;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;

}

//dropdown from user doesnt show a pointer as standard
.pointer a:hover{
	cursor: pointer;
}

.dropdown{
	height: 70px;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

.navbar-link{
	padding-top: 25px !important;
}

.dropdown a:hover{
	color: #0B4B72 !important;
}

.dropdown-toggle>img{
	height:41px;
	width:auto;
	padding-right: 1em;
  	align-items: center;

}

.dropdown>a {
	color: white !important;
	text-align: center;
	position: relative;

}


.navbar-default .navbar-nav>.open>a{
	background-color: #004F7F !important;
}


.navbar-default{
	border-bottom: 0px !important;
}

//-----------------------PageBackground-----------------------//

.restOfPage{
   height:100%;
   width:100%;
   background-image:url("/assets/img/background.png");
   padding-top: 1px;
  
   position: fixed; 
   overflow-y: scroll;
   top: 0; right: 0; bottom: 0; left: 0;
}

//-----------------------Center White Box-----------------------//
.white-container{
	width: 100%;
	height: auto;
	min-height: 50%;
	background-color: white;
	margin-top: 100px;
	display: inline-block;
}

.center-whitebox{
	height:auto;
	background-color: white;
	margin-top: 20vh;
	margin-bottom: 17vh;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

//-----------------------Global Classes-----------------------//
.default-container{
	margin-right: 20% !important;
	margin-left: 20% !important;
}

//-----------------------Responsive Media Queries-----------------------//

//----iPad Landscape----//

@media only screen and (max-width: 1024px) {
    .default-container{
		margin-right: 15% !important;
		margin-left: 15% !important;
	}

	.center-whitebox{
		margin-top: 18vh !important;
		margin-bottom: 10vh;

	}
}



//----iPad Portrait----//

@media only screen and (max-width: 768px) {
    .default-container{
		margin-right: 10% !important;
		margin-left: 10% !important;
	}

	.center-whitebox{
		margin-top: 12vh !important;
		margin-bottom: 7vh;
		display: flex;
	}
	.navbar-right{
		float:right;
	}

}

