//-----------------------damnyourows---------------------------//
.minus-gutter{
  margin-right:15px !important;
  margin-left:15px !important;
}
//-----------------------Center Box Half-----------------------//
.left{
    background-color: white;
   	opacity: 10.1;
   	display: flex;
   	align-items: center;
  	justify-content: center;	
  	border-right: 3.5px dashed #A9A9A9;
    height: 400px;
}

.right{
    background-color: #f7f7f7;
   	opacity:10.1;
   	display: flex;
   	align-items: center;
  	justify-content: center;
}


//-----------------------Input/Buttons-----------------------//

button {
	width: 30% !important;
}

.login-right{
	width: 35em;
	height: auto;
}

.login-left{
	width: 35em;
	height: auto;
}

.login-form-text{
	color: #A9A9A9;
}

.banner-img{
	max-width: 100% !important;
}


//----Center Align----//

.aligner{
	display: flex;
 	-webkit-justify-content: flex-end;
   justify-content: flex-end;
}



//-----------------------Media Queries-----------------------//


@media screen and (max-width: 992px){
  .center-whitebox {
	flex-direction: row !important;
    flex-direction: column !important;
  }

  .left{
    border-right: 0;
    border-bottom: 3.5px dashed #A9A9A9;
  }

  .right{
  	flex: 1;
  }
}

@media (min-width: 992px) and(max-width: 992px){
	.col-md-6{
		width:100% !important;
	}
}





//----iPad----//
@media screen and (max-width: 768px){

}

//----Mobile----//
@media screen and (max-width: 360px){
	
	.right{
		height: 20px !important;
	}

}



