<section class="row-fluid">
  <div class="col-md-6 left flex" style="padding: 2em">
    <div class="login-left">
    <img ng-src="{{loginScope.banner}}" alt="" class="banner-img">
    </div>
  </div>
  <div class="col-md-6 right flex" style="padding: 2em">
    <div class="login-right">
      <form ng-submit="loginScope.login()">
        <!-- <img src="/assets/img/institution/alacrityuk/banner.png" class="img-circle" alt=""> -->
        <h2 class="text-center">LOGIN</h2>
        <br>
      <!-- Username Input Box -->
        <div class="form-group has-feedback">
          <label class="control-label">Email</label>
          <input ng-model="loginScope.email" class="form-control input-lg" placeholder="Email" />
          <i class="glyphicon glyphicon-user form-control-feedback"></i>
        </div>
        <br>
        <!-- Password Input Box -->
        <div class="form-group has-feedback">
          <label class="control-label">Password</label>
          <input ng-model="loginScope.password" type="password" class="form-control input-lg" placeholder="Password" />
          <i class="glyphicon glyphicon-lock form-control-feedback"></i>
        </div>
       
        <alert-message></alert-message>
        <a href="" style="color: #A9A9A9;text-align: center">
          forgot password? 
        </a>

        <div class="aligner">
          <br>

          <div class="error-message" ng-repeat="errorMessage in loginScope.errorMessages track by $index">
            <p>{{ errorMessage }}</p>
          </div>

          <button type="submit" class="btn btn-success btn-md" style="margin-left: 1em">LOG IN</button>
          <button type="button" class="btn btn-primary btn-md" style="margin-left:1em">SIGN UP</button>
        </div>
      </form>
    </div>
  </div>
</section>